target/
bin/
*.orig
*~

# Eclipse project files
.settings/
.project
.classpath
.springBeans

# Intellij IDEA
*.iml

# Netbeans project files
nb-configuration.xml
nbactions.xml

#local.properties
#.gitignore  Do *not* ignore

# From child .gitignore 
catalina.base/
catalina.base_IS_UNDEFINED/
derby.log

# VS Code
.vscode/